<!-- Modal   PEN de EXPERIENCIA-->
<div class="modal fade" id="experienciaModalpen" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center">
    <div class="modal-content text-white text-center rounded-4">
      <div class="modal-header ">
        <h3 class="modal-title " id="exampleModalLabelEditarExperiencia">Editar Experiencia</h3>
        <button type="button" class="btn-close bg-white rounded-circle mb-4" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <form [formGroup]="experienForm" name="experienciaform">
            <ul class="p-0">
              <li *ngFor="let experiencia of experiencias"
                class="d-flex justify-content-between align-items-center m-1 ">
                <span>{{experiencia.id}}. {{experiencia.nombreEmpresa|uppercase}}</span>
                <span class="d-flex justify-content-between gap-2">
                  <!--lapicito rojo que se cambia al tocarlo-->
                  <button type="button" class="btn btn-sm btn-outline-success pl-1 pr-1 m-0"
                    (click)="cargarDetalle(experiencia.id)">
                    <i class="fa-solid fa-pen"></i>
                  </button>
                  <!--Tachico de Basura que se hace fondo rojo al tocarlo-->
                  <button type="button" class="btn btn-sm btn-outline-danger pl-1 pr-1 m-0"
                    (click)="borrar(experiencia.id)">
                    <i class="fa-solid fa-trash"></i>
                  </button>
                </span>
              </li>
            </ul>
            <!--esto es la validacion  renderizado condicional-->
            <div class="input-group mb-3 bg-light" *ngIf="!!experienForm.value.id">
              <div class="input-group-prepend border-0">
                <span class="input-group-text border-0" id="basic-addon1">ID:</span>
              </div>
              <input class="form-control outline-none border-0 bg-transparent" type="text" readonly
                formControlName="id">
            </div>

            <div class="mb-3">
              <label for="nombreEmpresa" class="form-label">Nombre</label>
              <input type="text" class="form-control text-center" id="nombreEmpresa" placeholder="campo obligatorio"
                formControlName="nombreEmpresa">
            </div>

            <div class="mb-3">
              <label for="puesto" class="form-label">Puesto</label>
              <input type="text" class="form-control text-center" id="puesto" formControlName="puesto"
                placeholder="campo obligatorio">
            </div>

            <div class="mb-3">
              <label for="fechaInicio" class="form-label">Fecha Inicio</label>
              <input type="fecha" class="form-control text-center" id="fechaInicioExpEdit" placeholder="fechaInicio...."
                formControlName="fechaInicio">
            </div>

            <div class="mb-3">
              <label for="fechaFin" class="form-label">Fecha Fin</label>
              <input type="fecha" class="form-control text-center" id="fechaFinExpEdit" placeholder="fechaFin...."
                formControlName="fechaFin">
            </div>


            <div class="mb-3">
              <label for="logoEmpresa" class="form-label">Logo Empresa</label>
              <input type="url" class="form-control text-center" id="logoEmpresa" formControlName="logoEmpresa"
              placeholder="logoEmpresa...." >
            </div>

            <div class="mb-3">
              <label for="descripcion" class="form-label">Descripcion del Puesto</label>
              <textarea rows="5" type="text" class="form-control text-center" id="descripcionExperienciaEditar"
                formControlName="descripcion" placeholder="campo obligatorio"> </textarea>
            </div>

            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="esTrabajoActualExpEditar"
                formControlName="esTrabajoActual">
              <label class="form-check-label" for="flexSwitchCheckDefault">Es Trabajo Actual?</label>
            </div>



            <div class="modal-footer">
              <button class="btn btn-secondary" (click)="experienForm.reset()">RESET</button>
              <button class="btn btn-secondary" (click)="guardar()">GUARDAR DATOS</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>