<!--barra de nav-->
<nav class="navbar navbar-expand-lg bg-ligth fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="https://argentinaprograma.inti.gob.ar" aria-label="Vea mas sobre Argentina Programa" target="_blank">
            <img src="assets/IMG/Imagen1.png" alt="" width="180" height="auto">
          </a>
      <!--redes sociales-->
          <ul class="list-group list-group-horizontal ">
                  
                <li class="list-group-item"><a href="assets/curriculum.pdf/portafolioweb.pdf" aria-label="Vea el contenido del Curriculum" download="mi-curriculum.pdf"><i class="fa-solid fa-download fa-2xl"></i></a></li>
              
                <li class="list-group-item"><a href="https://www.instagram.com" aria-label="Link de Instagram" target="_blank"><i class="fa-brands fa-instagram fa-2xl" ></i></a></li>
              
                
                <li class="list-group-item" ><a href="https://www.facebook.com/jhonathan.vega.10" aria-label="Link de Facebook Personal" target="_blank"><i class="fa-brands fa-square-facebook  fa-2xl "></i></a></li>
                
                
                <li class="list-group-item"><a href="https://github.com" aria-label="Link de Github" target="_blank"><i class="fa-brands fa-square-github fa-2xl"></i></a></li>
              
                
                <li class="list-group-item"><a href="https://twitter.com" aria-label="Link de Twitter" target="_blank"><i class="fa-brands fa-square-twitter fa-2xl"></i></a></li> 
              
                <!-- Button trigger modal -->
              <li class="list-group-item"><i class="fa-solid fa-user-lock fa-2xl"  type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
                
              </li>
          </ul>
    </div>
</nav>
<app-modal-login></app-modal-login>