<!--barra de nav-->
<nav class="navbar navbar-expand-lg bg-ligth fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets/IMG/LOGO ARGENTINA.png" alt="" width="180" height="auto">
          </a>
          <ul class="list-group list-group-horizontal">
            <li class="list-group-item"><i class="fa-brands fa-instagram fa-2xl"></i></li>
            <li class="list-group-item"><i class="fa-brands fa-square-facebook fa-2xl"></i></li>  
            <li class="list-group-item"><i class="fa-brands fa-square-github fa-2xl"></i></li>
            <li class="list-group-item"><i class="fa-brands fa-square-twitter fa-2xl"></i></li>                   
               <!-- Button trigger modal -->                
               <li class="list-group-item"><i class="fa-solid fa-user fa-2xl"  type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
            </li>
          </ul>
    </div>
</nav>      
<app-modal-logout></app-modal-logout>



