/*foto de perfil centrado*/
div#fotoperfil{
    /*position:absolute;*/
    height:19.4rem;
    width:16rem ;
    top: 47rem auto;
    margin: -1rem;
    z-index: 1; 
    margin-top: -5rem; 
    font-size: 2rem; text-shadow:0rem 0.563rem 1rem #055b52 
}
 /* comentario acerca de mi*/
 div#fullstack{
    /*font-weight: bolder; font-size: 1.2rem; 
    margin-top: 12rem;
    width:105rem auto;
    margin: 10rem 10rem;*/
    margin-top: 6rem;
    font-size: 2rem; text-shadow:0rem 0.563rem 1rem #055b52
}