<!--pie de pagina-->
<section>
<footer>
    <div class="container-fluid"> 
        <div class="row">
    <div class="col-9 text-start">
    <p >Diseñado por: <i><b> © Copyright - Jonatan Vega </b></i></p>
    </div>
    <div class="col-3 text-end">
        <a href="assets/curriculum.pdf/portafolioweb.pdf" download="mi-curriculum.pdf"><button type="button" id="buttonCurriculum" aria-label="button" class="btn btn-close-black"><i class="fa-solid fa-download"></i></button></a>
        <a href="mailto:ramonjonatanvega@outlook.com?Subject=Consulta%20oportunidad%20laboral%20vía%20Portfolio%20Web"><button type="button" id="buttonEmail" aria-label="button" class="btn btn-close-black"><i class="fa-solid fa-envelope"></i></button></a>
        <a href="#top"><button type="button" id="buttonScroll" aria-label="button" class="btn btn-close-black"><i class="fa-solid fa-arrow-turn-up"></i></button></a>
    </div>
    </div>
    </div>
    </footer> 
</section>